@font-face {
  font-family: 'playertwo';
  src: local('playertwo'), url(../assets/PressStart2P-Regular.ttf)
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(209, 209, 209);
}

#main {
  font-family: playertwo;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  height: 95vh;
  width: 90vw;
  border-radius: 15px;
  box-shadow: 5px 2px 9px rgb(128, 128, 128);
}