#card-board {
  display: grid;
  grid-template-columns: 14vw 14vw 14vw 14vw 14vw;
  align-content: center;
  justify-items: center;
  gap: 2rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 10rem;
  min-height: 15rem;
  border: 2px solid black;
  font-size: 64px;
  border-radius: 15px;
  box-shadow: 3px 2px 9px rgb(128, 128, 128);}

.card:hover {
  background-color: rgb(218, 218, 218);
}