#card-board {
  display: grid;
  grid-template-columns: 14vw 14vw 14vw 14vw 14vw;
  align-content: center;
  justify-items: center;
  gap: 2rem;
}

.card {
  width: 10rem;
  height: 15rem;
  border: 2px solid black;
  font-size: 80px;
  border-radius: 15px;
}

.card:hover {
  background-color: grey;
}